@import '../variables';

.pagination {
    display: flex;
    margin-left: 40%;
    span {
        font-size: 25px;
        padding: 10px;
        cursor: pointer;
        margin: 0 5px;
        &:hover {
            color: $orange;
        }
    }
    p {
        padding: 10px 20px;
        border: 1px solid $orange;
        border-radius: 50%;
    }
}